<body>
    <main>
        <header class="pb-3 mb-4 border-bottom">
          <nav  class="navbar navbar-expand navbar-dark bg-dark">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a   style="color: black;" class="nav-link" href="busqueda">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a  style="color: black;"  class="nav-link" (click)="AltaActores()" >Alta Actores</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-md-0">
                <input class="form-control" type="text" placeholder="Search">
              </form>
          </nav>
        </header>
    
       
    
        
        <div *ngIf="!altaActor" class="row align-items-md-stretch">
          <div class="col-md-6">
            <div class="h-100 p-5 text-bg-dark rounded-3">
              <h2>Listado Peliculas</h2>
              <app-tabla-pelicula *ngIf="mostrarlistado ngelse condicionFalsa" [peliculas]="arrayPeliculas" (PeliculaSelecionadaEvent)="ObtenerPeliculaSelecionada($event)"></app-tabla-pelicula> 
              <p #condicionFalsa></p>
              <button  (click)="MostrarPeliculas()"  class="btn btn-outline-light" type="button">{{mostrarocultar}}</button>
            </div>
          </div>

          <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
              <h2>Pelicula</h2>
              <app-detalle-pelicula [pelicula]="peliculaSelecionada"></app-detalle-pelicula>
              <button (click)="LimpiarPelicula()" class="btn btn-outline-secondary" type="button">Limpiar</button>
            </div>
          </div>

          <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
              <h2>Modificar</h2>
              <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
              <button class="btn btn-outline-secondary" type="button">Example button</button>
            </div>
          </div>
          <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
              <h2>Borrar</h2>
              <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
              <button class="btn btn-outline-secondary" type="button">Example button</button>
            </div>
          </div>
        </div>


        <app-actor-alta *ngIf="altaActor" ></app-actor-alta>


      
    </main>     
      </body>
