<header style="background-color: rgb(1, 14, 23); border-radius: 5px;" class="pb-3 mb-4 border-bottom">
    <nav  class="navbar navbar-expand navbar-dark bg-dark">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a   style="color: rgb(255, 255, 255);" class="nav-link" routerLink="busqueda">Busqueda <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a  style="color: rgb(253, 253, 253);"  class="nav-link" routerLink="actor/alta" >Alta Actores</a>
          </li>
          <li class="nav-item">
            <a  style="color: rgb(253, 253, 253);"  class="nav-link" routerLink="peliculas/alta" >Alta Peliculas</a>
          </li>
        </ul>
    </nav>
  </header>
<router-outlet></router-outlet>
